# Python
__pycache__/
*.pyc
venv/

# Flower
.flwr/
*.fab

# Resultados
results/
metrics/
mlartifacts/
mlruns/

*.pt
*.pth
*.parquet

# Jupyter Notebooks
*.ipynb_checkpoints
AGDA_Clients.ipynb

# do dataset eVED-hf
data/eVED_train_test_FRAC-TEST_40_STATE_42/
data/EVED_Clients