# Python
__pycache__/
*.pyc
venv/

# Flower
.flwr/
*.fab
CLAUDE.md

# Resultados
results/
metrics/
mlartifacts/
mlruns/

*.pt
*.pth

# Jupyter Notebooks
*.ipynb_checkpoints

# do dataset eVED-hf
data/eVED_train_test_FRAC-TEST_40_STATE_42/